/* CSS for the loading spinner */

body {
  background-color: white;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

.popover-display {
  display: none;
}

/* Navbar styling */
.navbar {
  background-color: #141414; /* Dark background */
  padding: 0.8rem;
}

.navbar .navbar-brand img {
  max-height: 50px;
}

.navbar-nav .nav-link {
  color: #fff; /* White text */
  font-weight: normal; /* Removed bold */
}

.navbar-nav .nav-link:hover {
  color: #ffcc00; /* Hover color */
}

.navbar-nav .btn {
  background-color: #ffcc00; /* Toontrack yellow */
  color: #141414;
  border: none;
}

.navbar-nav .btn:hover {
  background-color: #e5b800; /* Darker hover yellow */
  color: #141414;
}

.navbar-light .navbar-toggler-icon {
  background-color: #ffcc00; /* Icon color */
}

.navbar-toggler {
  border-color: #ffcc00; /* Toggle button */
}

/* Cart & Checkout Button Styling */
.cartButton {
  margin-bottom: 10px;
}

.btn-dark {
  background-color: #141414;
}
